In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data.csv")

In [3]:
del data["regions"]
del data["sentiment"]
del data["is_org"]

In [4]:
data['dates'] = pd.to_datetime(data['dates']) - pd.to_timedelta(7, unit='d')

In [8]:
from collections import Counter
gigi = dict(Counter(data[data["gender"] == "male"]["topic"]))

In [14]:
data["age"].unique()

array(['>=40', '<=18', '19-29', '30-39'], dtype=object)

In [16]:
df = data[data["topic"] == "art and entertainment"]

In [36]:
data.index = pd.to_datetime(data['dates'])

In [46]:
data.head(2)

                      dates   age gender                  topic emotion
0 2021-07-24 23:59:50+00:00  >=40   male  art and entertainment   anger
1 2021-07-24 23:59:16+00:00  <=18   male               politics   anger

In [ ]:
data.pivot_table(index='dates', columns='emotion', aggfunc=len, fill_value=0)

<ipython-input-7-7eb36e1b118e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dates'] = pd.to_datetime(df['dates']) - pd.to_timedelta(7, unit='d')

In [9]:
df.head()

                       dates emotion
0  2021-07-24 23:59:50+00:00   anger
11 2021-07-24 23:55:17+00:00    fear
20 2021-07-24 23:49:02+00:00    fear
57 2021-07-24 23:24:35+00:00   anger
90 2021-07-24 23:03:41+00:00   anger

In [12]:
bibi = df.pivot_table(index='dates', columns='emotion', aggfunc=len, fill_value=0)

KeyboardInterrupt:

In [ ]:
df = df.groupby(['emotion', pd.Grouper(key='dates', freq='W-MON')]).count()\
       .reset_index()\
       .sort_values('dates')

In [31]:
emotions = ["anger", "fear", "joy", "sadness", "none"]

['anger', 'fear', 'joy', 'sadness', 'none']

In [34]:
df[df["emotion"] == "anger"].sort_values('dates')

,emotion,dates,regions,sentiment,age,gender,is_org,topic
0,anger,2020-02-17 00:00:00+00:00,2337,7772,7772,7772,7772,7772
1,anger,2020-02-24 00:00:00+00:00,4122,13631,13631,13631,13631,13631
2,anger,2020-03-02 00:00:00+00:00,5395,17061,17061,17061,17061,17061
3,anger,2020-03-09 00:00:00+00:00,6119,19458,19458,19458,19458,19458
4,anger,2020-03-16 00:00:00+00:00,4613,15199,15199,15199,15199,15199
...,...,...,...,...,...,...,...,...
87,anger,2021-10-18 00:00:00+00:00,487,2161,2161,2161,2161,2161
88,anger,2021-10-25 00:00:00+00:00,391,1697,1697,1697,1697,1697
89,anger,2021-11-01 00:00:00+00:00,426,1856,1856,1856,1856,1856
90,anger,2021-11-08 00:00:00+00:00,415,1793,1793,1793,1793,1793
91,anger,2021-11-15 00:00:00+00:00,154,845,845,845,845,845

In [23]:
df.groupby("")

     emotion                     dates  sentiment   age  gender  is_org  topic
0      anger 2020-02-17 00:00:00+00:00       7772  7772    7772    7772   7772
92      fear 2020-02-17 00:00:00+00:00       5952  5952    5952    5952   5952
184      joy 2020-02-17 00:00:00+00:00       1457  1457    1457    1457   1457
276     none 2020-02-17 00:00:00+00:00       5475  5475    5475    5475   5475
368  sadness 2020-02-17 00:00:00+00:00       2526  2526    2526    2526   2526
..       ...                       ...        ...   ...     ...     ...    ...
367     none 2021-11-15 00:00:00+00:00        232   232     232     232    232
183     fear 2021-11-15 00:00:00+00:00        350   350     350     350    350
91     anger 2021-11-15 00:00:00+00:00        845   845     845     845    845
275      joy 2021-11-15 00:00:00+00:00        203   203     203     203    203
459  sadness 2021-11-15 00:00:00+00:00        206   206     206     206    206

[460 rows x 7 columns]